@font-face {
    font-family: Harabara;
    src: url(Harabara\ Mais\ Demo.otf);
}

@font-face {
    font-family: Aesthetic;
    src: url(Aesthetic\ Romance.ttf);
}


body {
    background-color: black;
    margin: 0;
    height: auto;
    width: auto;
    align-items: center;
    color: white;
}

#contenido {
    position: relative;
}

#nav{
    
    box-shadow: 0px 1px 0 white;
}

img{
    margin: 10px 0 10px 40px;
    max-width: 100px;
}

header{
    font-family: Aesthetic;
    font-size: 65px;
    font-style: normal;
    text-align: right;
    box-shadow: 1310px 8px 0 white;
}

h1{
    
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 158px;
    font-weight: normal;
    text-shadow: 2px 1px 5px black;
    letter-spacing: 4px;
}

#flex{
    display: flex;
    justify-content: space-between;
    margin: 0 100px 0 100px;
}

#flex2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 50px;
    font-family: Harabara;
    font-weight: normal;
    margin-block-end: 0em;
}
   

#background-video {
        position: fixed;
        min-width: auto;
        min-height: auto;
        width: auto;
        height: auto;
        opacity: 70%;
}

textarea, button {
    color: white;
    background: rgba(255, 255, 255, 0.4); /* Fondo semi-transparente para mayor legibilidad */
    border: none;
    border-radius: 10px;
}

textarea[name="user-input"]{
    width: 100%;
    height: 23px;
    padding: 20px;
    margin: 30px 0;
    font-size: 20px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 3px;
    letter-spacing: 1px;
    resize: none;
}

#reset-button{
    font-family: Harabara;
    font-size: 20px;
    padding: 10px 40px;
    margin: 10px;
}

textarea::placeholder{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

ul{
    width: 500px;
}

.item{
    font-size: 22px;
    font-family: Harabara;
    font-style: normal;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.192);
    border: 1px solid rgb(63, 100, 56, 0.05);
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 0 15px;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.192);
    
}

p{
    padding: 15px 0 15px 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}